.animal {
  display: inline-block;
  width: 200px;
  height: 200px;
  /*margin: 0;*/
}

.negative-colors {
  filter: invert(.8);
  -ms-filter: invert(.8);
  -moz-filter: invert(.8);
  -o-filter: invert(.8);
  -webkit-filter: invert(.8);
}

.white-black {
  filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.sepia {
  filter: sepia(1);
  -ms-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -webkit-filter: sepia(1);
}
